<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

In [1]:
!pip install yfinance
#!pip install pandas
#!pip install requests
!pip install bs4
#!pip install plotly

Collecting yfinance
  Downloading yfinance-0.1.66-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: requests>=2.20 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from yfinance) (2.25.1)
Requirement already satisfied: pandas>=0.24 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from yfinance) (1.2.4)
Requirement already satisfied: numpy>=1.15 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from yfinance) (1.19.2)
Requirement already satisfied: lxml>=4.5.1 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from yfinance) (4.6.3)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.10.tar.gz (8.2 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests>=2.20->yfinance) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests>=2.20->yfinance) (3.0.4)
Building wheels for collected packages: multitasking
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.10-py3-none-any.whl size=8487 sha256=750a32298f15e740b252f640089b9dd43d2ef7ff7820a9da622a6ade13272042
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/21/c9/66/b41c847de65c7985db52ec21d59996841598b8b0e93f2b9500
Successfully built multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.10 yfinance-0.1.66
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from beautifulsoup4->bs4) (2.2.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1273 sha256=113c441a69f8a65d7423834151f64e47add730c6433a2f4a665e6a6edba5684c
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/75/78/21/68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [2]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

## Define Graphing Function

In this section, we define the function `make_graph`. You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.

In [3]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

## Question 1: Use yfinance to Extract Stock Data

In [4]:
tesla = yf.Ticker("TSLA")

In [5]:
tesla_data = tesla.history(period ="max")

In [8]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,level_0,index,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,0,0,2010-06-29,3.800,5.000,3.508,4.778,93831500,0,0.0
1,1,1,2010-06-30,5.158,6.084,4.660,4.766,85935500,0,0.0
2,2,2,2010-07-01,5.000,5.184,4.054,4.392,41094000,0,0.0
3,3,3,2010-07-02,4.600,4.620,3.742,3.840,25699000,0,0.0
4,4,4,2010-07-06,4.000,4.000,3.166,3.222,34334500,0,0.0

## Question 2: Use Webscraping to Extract Tesla Revenue Data

In [11]:
url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01"

html_data  = requests.get(url).text

Parse the html data using `beautiful_soup`.

In [12]:
soup = BeautifulSoup(html_data, 'html5lib')

In [51]:
table = soup.find('table') # in html table is represented by the tag <table>
tables = soup.find_all('table')

tesla_revenue = pd.DataFrame(columns=['Date','Revenue'])

for row in tables[1].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        date = col[0].text
        revenue = col[1].text
        tesla_revenue = tesla_revenue.append({"Date":date, "Revenue":revenue}, ignore_index=True)

tesla_revenue

          Date  Revenue
0   2021-09-30  $13,757
1   2021-06-30  $11,958
2   2021-03-31  $10,389
3   2020-12-31  $10,744
4   2020-09-30   $8,771
5   2020-06-30   $6,036
6   2020-03-31   $5,985
7   2019-12-31   $7,384
8   2019-09-30   $6,303
9   2019-06-30   $6,350
10  2019-03-31   $4,541
11  2018-12-31   $7,226
12  2018-09-30   $6,824
13  2018-06-30   $4,002
14  2018-03-31   $3,409
15  2017-12-31   $3,288
16  2017-09-30   $2,985
17  2017-06-30   $2,790
18  2017-03-31   $2,696
19  2016-12-31   $2,285
20  2016-09-30   $2,298
21  2016-06-30   $1,270
22  2016-03-31   $1,147
23  2015-12-31   $1,214
24  2015-09-30     $937
25  2015-06-30     $955
26  2015-03-31     $940
27  2014-12-31     $957
28  2014-09-30     $852
29  2014-06-30     $769
30  2014-03-31     $621
31  2013-12-31     $615
32  2013-09-30     $431
33  2013-06-30     $405
34  2013-03-31     $562
35  2012-12-31     $306
36  2012-09-30      $50
37  2012-06-30      $27
38  2012-03-31      $30
39  2011-12-31      $39
40  2011-09-30      $58
41  2011-06-30      $58
42  2011-03-31      $49
43  2010-12-31      $36
44  2010-09-30      $31
45  2010-06-30      $28
46  2010-03-31      $21
47  2009-12-31
48  2009-09-30      $46
49  2009-06-30      $27
50  2008-12-31

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [53]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [54]:
tesla_revenue.tail(5)

          Date Revenue
44  2010-09-30      31
45  2010-06-30      28
46  2010-03-31      21
48  2009-09-30      46
49  2009-06-30      27

## Question 3: Use yfinance to Extract Stock Data

In [59]:
game_stop = yf.Ticker("GME")
gme_data = game_stop.history(period ="max")
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13,6.480515,6.773401,6.413184,6.766667,19054000,0.0,0.0
1,2002-02-14,6.850828,6.864294,6.682503,6.733001,2755400,0.0,0.0
2,2002-02-15,6.733002,6.749834,6.632007,6.699337,2097400,0.0,0.0
3,2002-02-19,6.665671,6.665671,6.312189,6.430017,1852600,0.0,0.0
4,2002-02-20,6.463680,6.648838,6.413182,6.648838,1723200,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

In [60]:
url = "https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01"

html_data2 = requests.get(url).text

In [61]:
soup = BeautifulSoup(html_data2, 'html5lib')

In [ ]:
gme_revenue = pd.read_html(url, match = 'GameStop Quarterly Revenue')

gme_revenue = pd.DataFrame(columns=["Date","Revenue"])

for row in soup.find_all("tbody")[1]('tr'):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text
   
    
    gme_revenue = tesla_revenue.append({"Date":date, "Revenue":revenue}, ignore_index=True)    

gme_revenue["Revenue"] = gme_revenue['Revenue'].str.replace(',|\$',"")

gme_revenue.dropna(inplace=True)

gme_revenue = gme_revenue[gme_revenue['Revenue'] != ""]    
    
gme_revenue

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [64]:
gme_revenue.tail(5)

          Date Revenue
45  2010-06-30      28
46  2010-03-31      21
47  2009-09-30      46
48  2009-06-30      27
49  2005-01-31     709

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`.

In [ ]:
g = make_graph(tesla_data, tesla_revenue, 'Tesla')

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`.

In [ ]:
g = make_graph(gme_data, gme_revenue, 'GameStop')

<h2>About the Authors:</h2> 

Pawan Kumar Chaurasia